🟢DfMxre....XXhzj 买入 1.72 SOL Holmes 在 Pump 🟢🟢🟢

【建仓】 点击查看
🪙买入金额： $242.39（1.72 SOL）/ 51.3M 
💲买入价格： $0.0{5}47208

💎当前持仓： $511.51（3.62 SOL） / 51.3M
🚀总盈亏： 🟢+$27.89（+11.51%）
💰总买入： $242.39（1.72 SOL）/ 51.3M 1 笔
💳总卖出： --
⏳SOL余额： 1.5K SOL

$Holmes(Sir Purrlock Holmes)
6r3VhGCZdnhcdwVSLwzEkqUzSLz7wriTn3hxeYWXpump

📈 5m | 1h | 6h: 142.5% | 142.5% | 142.5%
🎲 5m 交易笔数/交易量: 10/$2.8K
💡 市值: $10K
💧 池子: 18.06 SOL ($5.1K )
👥 持有人: --
🕒 开盘: --

✅Mint弃权 / ✅黑名单 / ❌烧池子
✅前10持仓大户: 16.94%<30%

⏳ DEV: 
👨‍🍳 DEV Burnt烧币: -

💊️ Pump
🌈推送聪明钱通知到群里? 邀请 @Alert_GMGNBOT 进群

🔥 NEW: Smart money FOMO, Large buys, FDV Surge, Dev burns, and more

